<div class="content">
  <h1>Explore Trenton</h1>
</div>

<div class="">
<main>
  <ul class="flexbox event-card-list">
    <% (current_site.the_post_type("event-card").the_posts.decorate rescue {}).each_with_index do |card, index| %>
      <li>
        <article style="border-style: solid; border-width: 1px;" class="event-card">
          <h1 class="flex-fill blue">event</h1>
        </article>
      </li>
    <% end %>
  </ul>
</main>
</div>
