<main>
  <ul class="flexbox event-card-list">
    <li>
      <article style="border-style: solid; border-width: 1px;" class="event-card">
        <h1 class="flex-fill blue">event</h1>
      </article>
    </li>
    <li>
      <article style="border-style: solid; border-width: 1px;" class="event-card">
        <h1 class="flex-fill blue">event</h1>
      </article>
    </li>
    <li>
      <article style="border-style: solid; border-width: 1px;" class="event-card">
        <h1 class="flex-fill blue">event</h1>
      </article>
    </li>
    <li>
      <article style="border-style: solid; border-width: 1px;" class="event-card">
        <h1 class="flex-fill blue">event</h1>
      </article>
    </li>
    <li>
      <article style="border-style: solid; border-width: 1px;" class="event-card">
        <h1 class="flex-fill blue">event</h1>
      </article>
    </li>
  </ul>
</main>
