<div class="footer">
    <div class="wrap">
      <div class="fmenu">
        <ul>
          <li><a href="#">Home </a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="#">Works </a></li>
          <li><a href="contact.html">Catch me</a></li>
        </ul>
      </div>
      <div class="copy">Design by <a href="http://w3layouts.com">W3Layouts</a></div>
      <div class="clear"></div>
    </div>
</div>
