<div class="navbar-brand"><a href="/">Trenton Business Hub</a></div>
  <div class="nav">
    <ul>
      <% (current_site.the_post_type("navbar-links").the_posts.decorate rescue {}).each do |link| %>
        <li><a href="<%= link.the_field("link-to-page") %>"><%= link.the_title %></a></li>
      <% end %>
    </ul>
  </div>
  <div class="clear"></div>
</div>
