<div class="navbar-brand"><a href="index.html">Trenton Business Hub</a></div>
  <div class="nav">
      <ul>
        <li><a href="#">Start Your Business</a></li>
        <li><a href="#">Be A Creator</a></li>
        <li><a href="#">Manage Your Business</a></li>
        <li><a href="#">Grow Your Business</a></li>
        <li><a href="#">Research &amp; Reports</a></li>
        <li><a href="#">Explore Trenton</a></li>
      </ul>
  </div>
  <div class="clear"></div>
</div>
