<div class="wrap">
  <div class="header">
    <%= render "partials/nav" %>
    <%= render "partials/card_section" %>
    <%= render "partials/newsclipping" %>
    <div class="clear"></div>
  </div>
<%= render "partials/footer" %>
