<div class="wrap">
  <div class="header">
    <div style="border-style: solid; border-width: 1px;"><%= render "partials/nav" %></div>

    <div class="event-card-section" style="border-style: solid; border-width: 1px;"><%= render "partials/card_section" %></div>

    <div class="sidebar" style="border-style: solid; border-width: 1px; border-color: red;"><%= render "partials/newsclipping" %></div>

    <div class="clear" style="border-style: solid; border-width: 1px;"></div>

    <%= render "partials/footer" %>

</div>
