<div class="wrap">


  <div class="header"><%= render "partials/nav" %></div>

  <div class="event-card-section"><%= render "partials/card_section" %></div>

  <div class="sidebar"><%= render "partials/newsclipping" %></div>

  <div class="clear"></div>

  <%= render "partials/footer" %>

</div>
