/*
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*img[width],img[height]{width:auto;height:auto;} wordpress hack to reset the attributes (while making responsive) */
/*end reset*/
body{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	/*background:url(../images/bg.png);*/
	background-color: #2F3040;
}
.wrap{
	width:1024px;
	margin:0 auto;
}
.header{
	margin-bottom:100px;
}
.logo{
	float:left;
	margin-top:20px;
}
.nav{
	float:right;
	padding-left: 0px;
	margin-top:20px;
	font-size: .85em;
}
.nav li{
	display:inline-block;
	margin-left:8px;
}
.nav li a{
	color:#aaa;
	padding:10px;
	background:rgba(255,255,255,.1);
}
.nav li a:hover{
	color:#eee;
	background:rgba(255,255,255,0.05);
}
.content{
	width:680px;
	float:left;
}
.content p{
	float:left;
	line-height:1.5em;
	padding:20px 20px 0 0;
	font-size:13px;
	width:375px;
	color:#aaa;
}
.content h1{
	color:#aaa;
	font-size:28px;
	padding-bottom:12px;
	border-bottom:1px dashed #525151;
}
.pic{
	float:left;
	margin-top:30px;
	padding:10px;
	border:1px dashed #555;
	/*-webkit-box-shadow:1px 0 5px #fff;
	   -moz-box-shadow:1px 0 5px #fff;
	        box-shadow:1px 0 5px #fff;*/
}
.sidebar{
	width:300px;
	float:right;
}
.sidebar h2{
	font-size:16px;
	padding:10px;
	color:#aaa;
	margin-top:45px;
	background:rgba(255,255,255,.1);
}
.sidebar ul{
	padding:0;
}
.sidebar li{
	font-size:14px;
	padding-bottom:12px;
	position:relative;
}
.sidebar li a{
	padding-right:30px;
	color:#777;
}
.sidebar li a:hover{
	color:#eee;
}
.sidebar li div:not(:first-child){
	color:#777;
}
/**--footer--*/
.footer{
	margin-top:100px;
	border-top:10px solid rgba(255,255,255,.1)
}
.fmenu{
	float:left;
}
.fmenu ul{
	padding-left:0;
}
.fmenu li{
	display:inline-block;
	margin-right:9px;
}
.fmenu li a{
	font-size:14px;
	color:#777;
}
.fmenu li a:hover{
	color:#eee;
}

.copy{
	color:#555;
	float:right;
	font-size:14px;
	margin-top:20px;
}
.copy a{
	color:#aaa;
}
.copy a:hover{
	color:#fff;
}
/*---form--*/
form div{
	padding:20px;
}
form span{
	display:block;
}
form span{
	font-size:14px;
	padding-bottom:5px;
	color:#777;
}
form textarea,
form input[type=submit],
form input[type=text]{
	background:rgba(255,255,255,.1);
	border:none;
	padding:5px;
	width:400px;
	outline:none;
	color:#eee;
	font-size:16px;
}
form input[type=submit]{
	font-size:14px;
	padding:8px;
	width:410px;
	color:#777;
}
form input[type=submit]:hover{
	color:#eee;
	cursor:pointer;
	background:rgba(255,255,255,0.07);
}

form textarea{
	height:100px;
	font-size:16px;
}

/*CSS for the event cards*/
main ul li {
	padding: 10px;
}
article div:nth-child(2) {
	padding-bottom: 10px;
}
.event-card-section {
	float: left;
	width: 500px;
  width: 70%;
  padding: .5em;
  color: #2d425c;
}
.event-card-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: flex-start;
	padding-top: 20px;
}
.event-card {
  display: flex;
  flex-direction: column;
  width: 300px;
	height: 300px;
  padding: 20px;
  color: #2d425c;
}
.event-card-data {
  display: flex;
  flex: 1 0 auto;
  max-width: 30em;
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding: 1em;
	color: white;
}
.event-card-content-preview {
	width: 200px;
 	white-space: nowrap;
 	overflow: hidden;
 	text-overflow: ellipsis;
}

/*Page Article Section*/
.article-created-at {
	margin-top: 20px;
	padding-top: 40px;
	padding-bottom: 20px;
}
